*_*.md
.venv
notebooks/

# Docker
.env
.env.dev
.env.prod
postgres_data/
.dockerignore
deployments/*/postgres_data/
deployments/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
out/
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
